<div class="container">
    <h1 mat-dialog-title> {{message}} </h1>
    <div mat-dialog-content>
        <div class="row d-flex w-100 mt-3">
            <div class="w-50 d-flex justify-content-end">
                <app-button-stroked [text]="cancel" [mat-dialog-close]="false"></app-button-stroked>
            </div>
            <div class="w-50 d-flex justify-content-start">
                <app-button-raised [text]="confirm" [color]="'primary'" [mat-dialog-close]="true"></app-button-raised>
            </div>
        </div>
    </div>
</div>