<div class="row w-100">
    <div class="d-flex justify-content-center mb-3 mt-3">
        <h1>Componentes de Angular</h1>
    </div>

    <div class="col-6">
        <h3>Tabla Personalizable</h3>
        <span>Se le envía por input el listado de columnas, la data, los titulos para cada columna y las propiedades del objeto a mostrar. Todo en el mismo orden.</span>
        <app-table [columns]="columns" [data]="users" [titles]="titles" [props]="props"></app-table>
    </div>

    <div class="col-6">
        <h3>Botones y SnackBar Personalizables</h3>
        <span>Los botones reciben el texto, color y emiten el evento click hacia el componente padre.</span>
        <br>
        <span>El snack recibe en su método de llamado el texto, una clase para el estilo y el tiempo de duración.</span>
        <br>
        <div class="borde">
            <app-button-basic class="mr-3" [text]="text" [color]="color" (clickButton)="ShowSnack()"></app-button-basic>
            <app-button-raised class="mr-3" [text]="text" [color]="color" (clickButton)="ShowSnack()"></app-button-raised>
            <app-button-stroked class="mr-3" [text]="text" [color]="color" (clickButton)="ShowSnack()"></app-button-stroked>
            <app-button-flat class="mr-3" [text]="text" [color]="color" (clickButton)="ShowSnack()"></app-button-flat>
            <app-button-icon class="mr-3" [icon]="icon" [color]="color" (clickButton)="clickButton()"></app-button-icon>
            <app-button-fab class="mr-3" [icon]="icon" [color]="color" (clickButton)="clickButton()"></app-button-fab>
            <app-button-minifab class="mr-3" [icon]="icon" [color]="color" (clickButton)="clickButton()"></app-button-minifab>
        </div>
    </div>


</div>

